body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}
main {
    flex: 1; 
    margin-bottom: 5px;
}
header img {
    border-radius: 50%;
}
h2 {
    color: #c00;
}
.menu-img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    width: 100%;
    border-radius: 8px;
}
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    width: 100%;
    z-index: index 1000;
    padding: 1rem;
}
.Horario {
    font-size: 0.9rem; 
}
.btn-whatsapp {
    font-size: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 24%;
    margin-right: 24%;
}
.btn-whatsapp img {
    margin-right: 8px;
    width: 24px; 
}



/* Bot칩n "Ver Detalles" igual que el c칩digo original */
.btn-detalles {
    background-color: #FFC107; /* Amarillo dorado */
    color: black;
    font-weight: bold;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn-detalles:hover {
    background-color: #E0A800; /* Amarillo m치s oscuro al pasar mouse */
}

/* Bot칩n de WhatsApp*/
.btn-whatsapp {
    display: block;
    margin: 5px auto;
    padding: 5px 10px;
    background-color: green;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 0.9rem;
    transition: 0.3s;
}

.btn-whatsapp:hover {
    background-color: darkgreen;
}

a.btn-whatsapp {
    text-align: center;
}

